body {
  background-color: #1e1e1e;
  color: #fff;
  font-family: 'Vecna', serif;
  text-align: center;
  padding-top: 70px;
}

h1 {
  margin-top: 20px;
}

p {
  font-size: 18px
}

nav {
  background: #1a1a1a;
  padding: 15px 0;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 0;
  margin: 0;
}

nav ul li {
  display: inline-block;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  padding: 10px 15px;
  transition: all 0.3s ease-in-out;
  border-radius: 5px;
}

.character-links:hover {
  background: rgba(255, 170, 0, 0.2);
  color: gold;
}

.enemies-links:hover {
  background: rgba(255, 85, 85, 0.2);
  color: #f55;
}

.blurred {
  filter: blur(10px);
  background: rgba(255, 255, 255, 0.1);
  padding: 10px;
  border-radius: 8px;
  transition: filter 0.3s ease-in-out, background 0.3s ease-in-out;
}

.blurred.unlocked {
  filter: blur(0);
  background: none;
}

@font-face {
  font-family: 'Vecna';
  src: url('../fonts/Vecna.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
